*.user 
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Release]/
[Releases]/
x64/
x86/
[Bb]in/
[Oo]bj/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*pidb
*.glo
*.vshost.exe
*.vshost.exe.config
*.lnk

.idea/
.vscode/
